body{
/*background-color:#2D89EF;*/
/*background-color:#2B5797;*/
}
h2.med{
	color:white;
	font-size:28px;
}
.page{
	width:940px;
	margin:auto;
}
.classvibe_title_large{
	font-size:48px;
	display:block;
	
}
.classvibe_title_large small{
	font-size:16px;
}

.homepage, .dashboard{
	position:relative;
	top:20px;
}
.slideshow{
	background:lightgrey;
	height:250px;
}
.signup{
	background:#3C78D8;
	padding:20px;
}

.login{
	background:#41CB2C;
	padding:20px;
}

.upload_new{
	background:#57A7B5;
	padding:5px;
}
.upload_new form input{
	background:#4a8f9c;
}
.upload_new h2{
	text-align:right;
}
.analytics{
	background:#ffaa00;
}
