// Less stylesheet for custom styles
body{
	padding-top:30px;
}

.right{
	text-align:right;
}

.btn{ text-align:center;}

 
.classvibe_title{
	
	
	h1,h2{
		font-weight:lighter;
		margin:0px;
	}
}

.top{
	.left{}
	
	.right{
		text-align:right;
		float:right;
	}
}

.homepage_carousel{
	a{
		opacity:1;
		background:#fff;
		margin-top:0px;
	}
	img{
		vertical-align:top;
	}
}

.login_box{

	background:#3C78D8;
	h1{
		color:#fff;
		font-weight:lighter;
	}
	.homepage{
		padding:15px;
		min-height:100%;		
		
		button,input{
			height:40px;
			font-size:18px;
		}
		button{
			width:50%;
			float:right
		}	
	}

}
